<ion-header>
  <ion-toolbar>
    <ion-title>Pearl Horizon UK</ion-title>
    <ion-buttons slot="end" class="nav-buttons">
      <ion-button routerLink="/" routerDirection="root">Home</ion-button>
      <ion-button routerLink="/invest-work" routerDirection="root">Invest & Work</ion-button>
      <ion-button routerLink="/study" routerDirection="root">Study</ion-button>
      <ion-button routerLink="/visit" routerDirection="root">Visit</ion-button>
      <ion-button routerLink="/insights" routerDirection="root">Insights</ion-button>
      <ion-button routerLink="/intake" routerDirection="root" fill="solid" color="secondary" class="cta-button">Request Intake</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

